<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper
	namespace='manuscript.module.academic.disciplines.manage.mapper.AcademicDisciplinesManagerMapper'>


	<insert id="updateAllAcademicDisciplines" parameterType="java.util.List">
		INSERT INTO ACADEMIC_DISCIPLINES (academicDisciplinesId, academicDisciplinesName) VALUES
		<foreach collection="list" item="element" separator=",">
			(#{element.id}, 
			#{element.name})
		</foreach>
	</insert>
	
	<delete id="deleteAllAcademicDisciplines">
		DELETE FROM ACADEMIC_DISCIPLINES;
	</delete>
</mapper>